<?xml version="1.0" encoding="UTF-8"?>

<mapper namespace="Board">
    <insert id="save" parameterType="board">
        INSERT INTO board (board_writer, board_pass, board_title, board_contents, board_hits, created_at)
        VALUES (#{boardWriter}, #{boardPass}, #{boardTitle}, #{boardContents}, #{boardHits}, #{createdAt});
    </insert>

    <select id="findAll" resultType="board">
        select id, boardTitle, boardWriter, boardHits, date_format(createdAt, "%Y-%m-%d") as createdAt
        from board_table order by id desc
    </select>
    <update id="updateHits" parameterType="Long">
        update board_table set boardHits=boardHits+1 where id=#{id}
    </update>
    <select id="findById" parameterType="Long" resultType="board">
        select id, boardTitle, boardWriter, boardPass, boardContents, boardHits,
        date_format(createdAt, "%Y-%m-%d %H:%i:%s") as createdAt, fileAttached
        from board_table where id=#{id}
    </select>
    <update id="update">
        update board_table set boardTitle=#{boardTitle}, boardContents=#{boardContents} where id=#{id}
    </update>
</mapper>
